option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: "us-east-1"
    AWS_ENV_ID: "24231584"
    BEVFLOW_ORDER_QUEUE_NAME: "bevflow-order-queue"
    BEVFLOW_ORDER_TOPIC_NAME: "bevflow-orders"
    BEVFLOW_LAMBDA_NAME: "BevFlowOrderProcessor"
    BEVFLOW_SQS_SSM_PARAM: "/bevflow/sqs-url-24231584"
    BEVFLOW_SNS_SSM_PARAM: "/bevflow/sns-arn-24231584"
    BEVFLOW_LAMBDA_SSM_PARAM: "/bevflow/lambda-arn-24231584"
    BEVFLOW_DDB_TABLE: "BevFlowOrders"
    SES_SENDER: "no-reply@bevflow.com"
